* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: bisque;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px 20px;
  position: fixed;
  width: 100%;
}

.spacer {
  margin: auto;
  height: 60px;
}

.navbar .logo {
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
}

.navbar .nav-links {
  display: flex;
  list-style: none;
  color: white;
}

.navbar .nav-links li {
  margin: 0 10px;
}

.navbar .nav-links a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s;
}

.navbar .nav-links a:hover {
  color: #00bcd4;
}

.navbar .loginRegister {
  display: flex;
}

.navbar .cta {
  background-color: #00bcd4;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  transition: background-color 0.3s;
}

.navbar .cta:hover {
  background-color: #019ca1;
}

.products {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.product {
  margin: 1rem;
  animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
  -moz-animation: fadeIn ease 2s;
  -o-animation: fadeIn ease 2s;
  -ms-animation: fadeIn ease 2s;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow effect */
}

.product-details {
  margin: 1rem;
  animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
  -moz-animation: fadeIn ease 2s;
  -o-animation: fadeIn ease 2s;
  -ms-animation: fadeIn ease 2s;
  display: flex;
  flex-direction: row;
}

.product:hover .product-name {
  opacity: 0.92;
}

.product-name {
  display: block;
  background: #353b41;
  border-radius: 5px;
  color: #f9fafb;
  font-size: 12px;
  margin-bottom: 0px;
  max-width: 200px;
  overflow: hidden;
  opacity: 0;
  padding: .25rem;
  position: relative;
  text-overflow: ellipsis;
  bottom: -334px;
  left: 20px;
  white-space: nowrap;
  z-index: 1000;
}



.product-image {
  width: 15rem;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}

.simple {
  width: 40rem;
}

.extended-info {
  width: 40rem;
  background-color: white;
  border: #333;
  border-radius: 10px;
  border-color:#333;
}

.extended-info h1 {
  margin-top: 2rem;
}

.extended-info h2 {
  margin-top: 2rem;
}

.product-details .product-image {
  width: 25rem;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}

.prices {
  display: flex;
  flex-direction: row;
}

.prices h3 {
  margin: auto;
  color: #16c42d;
}

.prices a {
  margin: auto;
  display: flex;
  flex-direction: row;
  text-decoration: none;
}


.prices a img {
  width: 1.2rem;
  height: 1.4rem;
}

.prices a h3 {
  color: #74A1D3
}

.admin-page {
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
}

.section {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

label {
  display: block;
  margin: 10px 0;
}

input[type='checkbox'] {
  margin-right: 10px;
}

button {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3 
}

.registration-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.registration-page form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.oauth-buttons {
  max-width: 300px;

}