* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: Arial, sans-serif;
  background-color: bisque;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px 20px;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.spacer {
  margin: auto;
  height: 60px;
}

.navbar .logo {
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
}

.nav-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 20px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: white;
}

.navbar .nav-links li {
  margin: 0 10px;
}

.navbar .nav-links a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s;
}

.navbar .nav-links a:hover {
  color: #00bcd4;
}

.navbar .loginRegister {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: flex-end;
}

.navbar .cta {
  background-color: #00bcd4;
  color: white;
  margin: 0px 30px;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  transition: background-color 0.3s;
  z-index: 1000;
}

.navbar .cta:hover {
  background-color: #019ca1;
}

.cart-button {
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  margin: auto;
  font-size: 1.25rem;
  display: flex;
  text-decoration: none;
}

.cart-button span {
  margin-left: 0rem;
  background-color: black;
  border-radius: 50%;
  padding: 2px 4px;
  text-decoration: none;
}

.logout-button {
  background-color: #dc3545;
  border: none;
  cursor: pointer;
  margin: 0px;
  font-size: 1.25rem;
}

.logout-button:hover {
  background-color: #c82333;
}

.welcome {
  color: white;
  font-size: 12px;
}

@media only screen and (max-width: 1000px) {
  .welcome {
    background-color: #333;
    padding: 5px 20px 5px 10px;
    border-radius: 5px;
    position: relative;
    top: 30px;
    left: 200px;
  }
}

.error {
  text-align: center;
  font-size: 40px;
}

.products {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.products .disclaimer {
  text-align: center;
  background-color: white;
  font-size: 20px;
  border-radius: 10px;
  width: 240px;
  border: 1px solid black;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  animation: fadeIn ease 1s;
  max-height: 24rem;
  -webkit-animation: fadeIn ease 1s;
  -moz-animation: fadeIn ease 1s;
  -o-animation: fadeIn ease 1s;
  -ms-animation: fadeIn ease 1s;
}

.products .disclaimer .product-price {
  color: #16c42d;
}

.products .disclaimer .tcgplayer-price {
  color: #74A1D3;
}

.products .disclaimer img {
  width: 1.2rem;
  height: 1.4rem;
}

.product {
  margin: 0rem 1rem;
  animation: fadeIn ease 1s;
  max-height: 24rem;
  -webkit-animation: fadeIn ease 1s;
  -moz-animation: fadeIn ease 1s;
  -o-animation: fadeIn ease 1s;
  -ms-animation: fadeIn ease 1s;
}

.product-details {
  margin: 1rem;
  animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
  -moz-animation: fadeIn ease 2s;
  -o-animation: fadeIn ease 2s;
  -ms-animation: fadeIn ease 2s;
  display: flex;
  flex-direction: row;
}

.product:hover .product-name {
  opacity: 0.92;
}

.product:hover .add-to-cart-btn {
  opacity: 0.92;
}

/* .product:hover .add-to-cart-msg {
  opacity: 1;
}

 .add-to-cart-msg {
  background-color: white;
  display: none;
  opacity: 0;
  position: absolute;
  margin: 0px;
  padding: .25rem;
  width: 7rem;
  border: 1px solid black;
  border-radius: 5px;
} */

.add-to-cart-btn {
  display: block;
  background: #353b41;
  border-radius: 5px;
  color: #f9fafb;
  font-size: 24px;
  margin: 0px;
  max-width: 200px;
  overflow: hidden;
  opacity: 0;
  padding: .25rem .6rem;
  position: relative;
  text-overflow: ellipsis;
  bottom: 334px;
  left: 180px;
  white-space: nowrap;
  z-index: 1000;
}

.product-name {
  display: block;
  background: #353b41;
  border-radius: 5px;
  color: #f9fafb;
  font-size: 12px;
  margin: 0px;
  max-width: 200px;
  overflow: hidden;
  opacity: 0;
  padding: .25rem;
  position: relative;
  text-overflow: ellipsis;
  bottom: -334px;
  left: 20px;
  white-space: nowrap;
  text-align: center;
}

.product-image {
  width: 15rem;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}

.simple {
  width: 40rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.simple .prices .product-price {
  margin: 0 20px;
}

.simple .prices a {
  margin: 0 20px;
}

.extended-info {
  width: 40rem;
  background-color: white;
  border: #333;
  border-radius: 10px;
  border-color: #333;
  border: 1px solid black;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.extended-info h1 {
  margin-top: 2rem;
}

.extended-info h2 {
  margin-top: 2rem;
}

.product-details .product-image {
  width: 22rem;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}

.product-details .product-details-name {
  padding: 10px;
}

.product-details .description {
  padding: 10px;
}

.product-details .set-name {
  padding: 10px;
}

.product-details .prices {
  font-size: 32px;
}

.product-details .prices img {
  width: 2.4rem;
  height: 2.8rem;
}

.prices {
  display: flex;
  flex-direction: row;
}

.prices h3 {
  margin: auto;
  color: #16c42d;
}

.prices a {
  margin: auto;
  display: flex;
  flex-direction: row;
  text-decoration: none;
}


.prices a img {
  width: 1.2rem;
  height: 1.4rem;
}

.prices a h3 {
  color: #74A1D3
}

.admin-page {
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
}

.section {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

label {
  display: block;
  margin: 10px 0;
}

input[type='checkbox'] {
  margin-right: 10px;
}

button {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3
}

.registration-page {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.registration-page form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.registration-page input {
  width: 100%;
  padding: 10px;
}

.login {
  width: 100%;
  padding: 10px;
  color: #fff;
  border: none;
  cursor: pointer;
}

.google {
  width: 100%;
  padding: 10px;
  background-color: #db4437;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-bottom: "10px"
}

.cart {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 1%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.cart .product {
  background: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 15px auto;
  text-align: center;
  display: flex;
  flex-direction: row;
  max-width: 60%
}

.cart .text {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 10px;
}

.cart .product a {
  max-width: 216px;
  max-height: 300px;
  min-width: 108px;
  min-height: 150px;
}

.cart .product-image {
  width: 65%;
  border-radius: 8px;
  margin: 6px 0px 2px 0px;
}

.cart .product-text {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cart .product-name {
  font-size: 16px;
  font-weight: 600;
  opacity: 1;
  color: black;
  background-color: white;
  text-align: left;
  margin: 0;
  padding: 0;
  position: unset;
  max-height: 1.5rem;
  z-index: 1;
}

.cart .prices {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.cart .product-price {
  font-size: 18px;
  font-weight: 700;
  color: #000;
  margin: 0;
}

.cart .tcgplayer-link {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  font-size: 14px;
  transition: background-color 0.2s;
}

.cart .tcgplayer-link:hover {
  background-color: #0056b3;
}

.rainbow-text {
  background: linear-gradient(90deg,
      rgba(255, 0, 0, 1) 0%,
      rgba(255, 154, 0, 1) 10%,
      rgba(208, 222, 33, 1) 20%,
      rgba(79, 220, 74, 1) 30%,
      rgba(63, 218, 216, 1) 40%,
      rgba(47, 201, 226, 1) 50%,
      rgba(28, 127, 238, 1) 60%,
      rgba(95, 21, 242, 1) 70%,
      rgba(186, 12, 248, 1) 80%,
      rgba(251, 7, 217, 1) 90%,
      rgba(255, 0, 0, 1) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  font-size: 18px;
  margin-top: 5px;
}

.order-total {
  position: fixed;
  text-align: center;
  border-radius: 10px;
  right: 0;
  top: 100;
  width: 35%;
  background-color: #f0f0f0;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  margin-right: 1%;
}

.order-total button {
  background: goldenrod;
  margin: 20px auto;
  border-radius: 5px;
}